.btn6 {
    width: 30px;
    height: 25px;
    cursor: pointer;
    transition-duration: 0.7s;
}

.btn6 .icon {
    transition-duration: 0.7s;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 30px;
    background-color: #212121;
}

.btn6 .icon:before {
    transition-duration: 0.7s;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #212121;
    content: "";
    top: -8px;
}

.btn6 .icon:after {
    transition-duration: 0.7s;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #212121;
    content: "";
    top: 8px;
}

.btn6.open .icon {
    width: 29px;
    border-radius: 1px;
    transition-duration: 0.7s;
    transform: rotateZ(180deg);
}

.btn6.open .icon:before {
    top: -10px;
    border-radius: 1px;
    width: 19px;
    transform: rotateZ(45deg) scaleX(0.75) translate(18px, -6.2px);
}

.btn6.open .icon:after {
    top: 10px;
    border-radius: 1px;
    width: 19px;
    transform: rotateZ(-45deg) scaleX(0.75) translate(18px, 6.2px);
}

.bg_giftbanner {
    background-image: url(../public/giftbanner.png);
}

.list_item:hover i{
    transform:  translate(5px, 4px);
}